{% extends "base/base.html" %}

{% block title %}
bz-rates
{% endblock %}

{% block abstract %}
    <h3>Calculate mutation rates from fluctuation assays</h3>
    <p> \(bz\)-\(rates\) is a web-tool that allows to take into consideration the differential growth rate, <i>b</i>
        (even when it is not known), and the plating efficiency, <i>z</i>, to calculate mutation rates from fluctuation
        assays. \(bz\)-\(rates\) implements two estimators: the Jaeger & Sarkar Maximum Likelihood method (1995) and the
        Hamon & Ycart Generating Function estimator (2012).
    </p>
    <p>If you find \(bz\)-\(rates\) useful please site our paper: "\(bz\)-\(rates\): a web-tool to accurately estimate
        mutation rates from fluctuation analysis".
    </p>
{% endblock %}



{% block content %}

    <table class="tabCalculator">
        <tr>
            <td><div class="calculator"><div class="calculatorTxt"><b>Mutation rate calculator</b></div></div></td>
            <td><div class="resTabCell3"><div class="resultsTxt"><b>Results</b></div></div></td>
        </tr>
    </table>

    <form action="" method="post">{% csrf_token %}
        <table class="inputTab">
            <tbody>
                <tr>
                    <td>
                        <table class="tabButtons">
                            <tr >
                                <td><div class="tabButtonsCell"><i><b>N<sub>0</sub></b></i> : initial number of cells per culture</div></td>
                            </tr>
                            <tr >
                                <td><div class="tabButtonsCell3">
                                    <div class="tabButtonsCell3Title">
                                        <i><b>b</b></i> : Fitness of mutant / WT cells (0 < b < ∞)
                                    </div>
                                    <div class="tabButtonsCell3Sub">
                                        <span class="bSub">If filled: <i>μ</i> is calculated with the Maximum Likelihood method
                                        <br>If left empty: <i>b</i> and <i>μ</i> are calculated with the Generating Function</span>
                                    </div>
                                </div>
                                </td>
                            </tr>
                            <tr >
                                <td><div class="tabButtonsCell"><i><b>z</b></i> : plating efficiency or fraction of a culture plated (0 < z ≤ 1)</div></td>
                            </tr>
                            <tr >
                                <td><div class="tabButtonsCell2">
                                        <div class = "NmuNplatedMain">
                                            Copy / paste your fluctuation data here<br>
                                            in a 2-columned format: <b><i>N<sub>mutants</sub></i> [tab/space] <i>N<sub>cells</sub></i></b>
                                        </div>
                                        <div class = "NmuNplatedSub">
                                            <i>N<sub>mutants</sub></i> : number of mutants on the plate
                                            <br><i>N<sub>cells</sub></i> : number of plated cells
                                        </div>
                                    </div></td>
                            </tr>
                        </table>
                    </td>

                    <td>
                        <table class="formTab">
                            <tr>
                                <td>{{ mut_form.N0 }}</td>
                            </tr>
                            <tr>
                                <td><div class="bInputForm">{{ mut_form.b }}</div></td>
                            </tr>
                            <tr>
                                <td>{{ mut_form.z }}</td>
                            </tr>
                            <tr>
                                <td>{{ mut_form.fluctuation }}</td>
                            </tr>
                            <!--{% for field in mut_form %}
                                <tr>
                                    <td>{{ field }}</td>
                                </tr>
                            {% endfor %}-->
                            <script type="text/javascript">
                            //<![CDATA[

                            function isInt(value) {
                                var n = ~~Number(value);
                                return !isNaN(value) && n >= 0 && (function(x) { return (x | 0) === x; })(parseFloat(value))
                            }

                                var id_fluctuation = document.getElementById('id_fluctuation');

                                var checkTextAreaValidity = function () {
                                    var id_fluctuation = document.getElementById('id_fluctuation');
                                    var data = id_fluctuation.value;
                                    var str = data.trim();
                                    var res = str.split(/[\r\n?|\n]/);
                                    for (var i = 0; i < res.length; i++) {
                                        var elt = res[i].split(/[ |\t]/);
                                        var eltLen =  elt.length;
                                        if(eltLen != 2){
                                            id_fluctuation.setCustomValidity('Error: 2 columns (Nmut | Ncells)');
                                            return;
                                        } else if (isInt(elt[0]) == false || isInt(elt[1]) == false) {
                                            id_fluctuation.setCustomValidity('Error: integer required');
                                            return;
                                        } else if (parseInt(elt[0]) > parseInt(elt[1])) {
                                            id_fluctuation.setCustomValidity('Error: Nmut > Ncells');
                                            return;
                                        }
                                    }
                                    id_fluctuation.setCustomValidity('');
                                    return true;
                                };
                                <!-- id_fluctuation.onclick = checkTextAreaValidity; -->
                                document.getElementsByName("monBoutton").onchange = checkTextAreaValidity;
                            //]]>
                            </script>
                        </table>

                    </td>
                    <td class="separator"></td>
                    <td>
                        <table class="resTab">
                            <tr>
                                <td><div class="resTabCell2" >
                                    {% if res != "vide" %}
                                    {% if res.0 == "Maximum Likelihood" %}
                                    <!--<form name="Form1"> -->
                                        <textarea readonly class="txtArea">{{ res.0 }}
m	{{ res.1 }}
μ	{{ res.2 }}
mcorr	{{ res.3 }}
μcorr	{{ res.4 }}
CLlower	{{ res.5 }}
CLupper	{{ res.6 }}
meanNc	{{ res.7 }}
sdNc	{{ res.8 }}</textarea>
                                    <!--</form>-->
                                    {% elif res.0 == "Generating Function" %}

                                        <textarea readonly class="txtArea">{{ res.0 }}
m	{{ res.1 }}
μ	{{ res.2 }}
mcorr	{{ res.3 }}
μcorr	{{ res.4 }}
CLlower	{{ res.5 }}
CLupper	{{ res.6 }}
b	{{ res.7 }}
blower	{{ res.8 }}
bupper	{{ res.9 }}
meanNc	{{ res.10 }}
sdNc	{{ res.11 }}</textarea>

                                    {% endif %}
                                    {% else %}
                                    <textarea readonly class="txtArea"></textarea>
                                    {% endif %} </div></td>

                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    <script>
        function eraseText() {
            document.getElementById("id_fluctuation").value = "";
            document.getElementById("id_N0").value = 1;
            document.getElementById("id_b").value = '';
            document.getElementById("id_z").value = 1;
        }

        function showProgress() {
            if(checkTextAreaValidity() &&
                    document.getElementById('id_N0').checkValidity() &&
                    document.getElementById('id_z').checkValidity() &&
                    document.getElementById('id_b').checkValidity()) {
                var pb = document.getElementById("overlay");
                pb.innerHTML = '<div id="overlay"> <div class="progress"> <img class="GIFResize" src="../../static/GIF/flower-loader-transparent.gif"/> </div> </div>';
                pb.style.display = '';
            }
        }
    </script>
        <input type="submit" name="monBoutton" value="Run" class="runButton" onclick="showProgress()"/>
        <input type="button" value="Clear" class="resetButton" onclick="javascript:eraseText();">
        <div id="overlay"  style="display: none;">
            <div class="progress">
                <img src="../../static/GIF/flower-loader-transparent.gif"/>
            </div>
        </div>
    </form>



{% endblock %}


{% block implementation %}
        <!--<h3>Input form</h3>
        <p> Nmutant|Nplated is the only required information:
        <ul class="ulParams">
            <li> \(N_{0}\): initial number of cells in the culture (the seeds)</li>
            <li> \(z\): dilution factor or fraction of a culture plated (0 < z ≤ 1)</li>
            <li> \(b\): mutant cells relative fitness (0 < b < ∞)</li><input type="reset" value="Reset!"><br>
            <li> \(N_{mutants}\): number of mutants on the plate</li>
            <li> \(N_{plated}\): number of cells plated</li>
        </ul>
        </p>

        <br>
        -->
        <h3>Result description</h3>
        <p>The "Results" box outputs the following information:
            \begin{array}{ll}
            \hline
            \small{m} & \small{\text{mean number of mutations per culture not corrected by the plating efficiency (z)}} \\
            \small{\mu} & \small{\text{mutation rate per cell per division not corrected by the plating efficiency (z)}} \\
            \small{m_{corr}} & \small{\text{number of mutations per culture corrected by the plating efficiency (z)}} \\
            \small{\mu_{corr}} & \small{\text{mutation rate per cell per division corrected by the plating efficiency (z)}} \\
            \small{CL_{lower}} & \small{\text{lower 95% confidence limit for } m_{corr}} \\
            \small{CL_{upper}} & \small{\text{upper 95% confidence limit for } m_{corr}} \\
            \small{b} & \small{\text{mutant cells relative fitness predicted by the Generating Function (only output if b is left empty in the input field)}} \\
            \small{b_{lower}} & \small{\text{lower 95% confidence limit for b (only output if b is left empty in the input field)}} \\
            \small{b_{upper}} & \small{\text{upper 95% confidence limit for b (only output if b is left empty in the input field)}} \\
            \small{meanNc} & \small{\text{average number of plated cells per culture } (\overline{Nc})} \\
            \small{sdNc} & \small{\text{standard deviation of the number of plated cells } (\sigma_{Nc})} \\
            \hline
            \end{array}
            <!--<ul class="ulParams">
                <li> \(m\): mean number of mutations per culture (not corrected by the plating efficiency)</li>
                <li> \(\mu\): mutation rate per cell per division (not corrected by the plating efficiency)</li>
                <li> \(m_{corr}\): number of mutations per culture corrected by the plating efficiency (z)</li>
                <li> \(\mu_{corr}\): mutation rate per cell per division corrected by the plating efficiency (z)</li>
                <li> \(CL_{lower}\): lower 95% confidence limit for m</li>
                <li> \(CL_{upper}\): upper 95% confidence limit for m</li>
                <li> \(b\): mutant cells relative fitness predicted by the Generating Function (only if b is not provided in the input field)</li>
                <li> \(b_{lower}\): lower 95% confidence limit for b (only if b is not provided in the input field)</li>
                <li> \(b_{upper}\): upper 95% confidence limit for b (only if b is not provided in the input field)</li>
                <li> \(meanNt\): average number of plated cells</li>
                <li> \(sdNt\): standard deviation of the number of plated cells</li>
            </ul>-->
        </p>


    <h3>Motivation</h3>
    <p>
        <span class="marge">A classical approach to calculate mutation rates (\(\mu\)) in microorganisms consists in performing fluctuation
        analyses through multiple cultures grown in parallel under identical conditions (Luria & Delbrück 1943). Each individual
        culture is started with a small inoculum (\(N_{0}\)) and mutational events occur independently in each culture. At the end
        of the experiment, a \(\mu\) can be estimated from the proportions of mutant cells in the different cultures.
        Since the seminal work of Lea & Coulson in 1949, numerous methods were proposed to calculate \(\mu\)
        (for review see Foster 2006). They all rely on the estimation of \(m\), the mean number of mutations per culture.
        The Ma-Sandri-Sarkar (MSS) maximum likelihood function is often considered as the most accurate and versatile method because it is
        applicable over the whole range of \(m\) (Sarkar & Sandri 1992). However the estimation of \(\mu\) can be strongly
        affected by a differential growth rate between mutant and WT cells. A generalization of the MSS function which takes into
        consideration a differential growth rate (\(b\neq 1\)) was proposed (Jaeger & Sarkar 1995) and is implemented in \(bz\)-\(rates\).
        Note also that when the mutant relative fitness is unknown, the best estimator - also implemented in \(bz\)-\(rates\) - is
        the empirical probability generating function (GF) that can estimate the value of \(b\) and calculate \(m\) nearly
        as precisely as the Jaeger & Sarkar method (Hamon & Ycart 2012).</span>
    </p>
    <p>
        <span class="marge">In addition, the estimation of \(m\) can also be affected by the fraction of cells
        that is plated on selective media for each culture. This criteria is defined as the plating efficiency (\(z\)) which accounts for
        the fact that if the entire culture is not plated, then not all the mutants will be experimentally detected.
        A correction proposed by Stewart and colleagues to account for this potential bias (Stewart & al. 1990) is
        also implemented in \(bz\)-\(rates\).</span>
    </p>

    <h3>Estimating \(m\) when \(b\) is known</h3>
    <p> <span class="marge">\(bz\)-\(rates\) implements the generalized MSS estimators proposed by Jaeger & Sarkar (1995).
        In practice, \(m\) is initialized using the 0\(^{th}\) term of the Poisson distribution or the Lea-Coulson
        estimator when all cultures have mutants. Equation (1) represents the probability function of observing \(k\)
        mutants and \(m\) is refined by maximizing the log-likelihood function (Equation (2)).
        </span>


        \begin{align}
        p_{0}& = exp\bigg[\frac{m}{b}(\alpha^{b}-1) \bigg] \nonumber \\ \nonumber \\

        p_{k}& = \frac{1}{k}\frac{m}{b}\sum_{i=0}^{k-1} p_{i}(k-i)\times
        \bigg( \frac{(1-\alpha^{b})^{k-i}}{k-i} - \frac{(1-\alpha^{b})^{k-i+1}}{k-i+1} \bigg) \;\;\; where\; \alpha = N_{0}/Nt
        \label{ref1} \\ \nonumber \\


        f(&k|m) = C_{0}\times ln(p_{0}) + C_{1}\times ln(p_{1}) + C_{2}\times ln(p_{2}) ... + C_{k_{max}}\times ln(p_{k_{max})} \\ \nonumber \\
        w&here\; C_{i}\text{ is the number of cultures with i mutants} \nonumber
        \end{align}
        <!-- f(&k|m) = \prod_{i=1}^{C}f(k_{i}|m) = (p_{0}^{C_0})(p_{1}^{C_1})(p_{2}^{C_2})(p_{3}^{C_3})...(p_{k_{max}}^{C_{k_{max}}}) \\-->
    </p>

    <p>
        <h3>Estimating \(m\) when \(b\) is unknown </h3>
        <span class="marge"> When the mutant relative fitness is not provided by the user (i.e. the field \(b\) is left
        empty in the input form), \(bz\)-\(rates\) uses the GF from Hamon & Ycart 2012 to estimate \(m\) and \(b\). The GF
        uses the probability generating function to estimate the compound Poisson distribution. See Hamon & Ycart 2012
        for further details.</span>
    </p>

    <p>
        <h3>Correcting for the plating efficiency \(z\)</h3>
        \(m_{corr}\) is calculated using the equation 41 from Stewart et al. 1990:
        \begin{equation}
        m_{corr} = m \frac{1-z}{z\cdot ln(z)} \nonumber
        \end{equation}

    </p>

    <p>
        <h3>Calculating the mutation rates \(\mu\) and \(\mu_{corr}\)</h3>
        \(\mu\) and \(\mu_{corr}\) are calculated with the following formulas:
        \begin{align}
        \mu &= \frac{m} {  \overline{Nc} } \nonumber \\ \nonumber \\
        \mu_{corr} &= \frac{m_{corr}} { \overline{Nt} } \nonumber
        \end{align}

    </p>

    <br>
        <h3>References</h3>
        <p class="refTxt">
            <small><b>Foster (2006).</b> Methods for determining spontaneous mutation rates. Methods in Enzymology, 409(05), 195–213. doi:10.1016/S0076-6879(05)09012-9
            <br>
            <b>Hamon & Ycart (2012).</b> Statistics for the Luria-Delbrück distribution. Electronic Journal of Statistics, 6, 1251–1272. doi:10.1214/12-EJS711
            <br>
            <b>Jaeger & Sarkar (1995).</b> On the distribution of bacterial mutants: the effects of differential fitness of mutants and non-mutants. Genetica, 217–223.
            <br>
            <b>Luria & Delbrück (1943).</b> Mutations of bacteria from virus sensitivity to virus resistance. Genetics, 28(6), 491.
            <br>
            <b>Sarkar & Sandri (1992).</b> On fluctuation analysis: a new, simple and efficient method for computing the expected number of mutants. Genetica, 173–179.
            <br>
            <b>Stewart & al. (1990).</b> Fluctuation Analysis: The Probability Distribution of the Number Mutants Under Different Conditions. Genetics, 124(1), 175–185.</small>
        </p>

{% endblock %}